[submodule "wiki"]
	path = wiki
	url = https://github.com/PaNOSC-ViNYL/ViNYL-project.wiki.git
[submodule "ViNYL-project.wiki"]
	path = ViNYL-project.wiki
	url = git@github.com:PaNOSC-ViNYL/ViNYL-project.wiki.git
